body {
  background: black;
}
.completo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 2%;
}
.personajes {
  border-radius: 5%;
  display: flex;
  background-color: rgb(58, 58, 58);
}
